body {

  color: #424242;
  margin: 0;
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:18px;
  line-height:1.428571429;
  background-image:url('/images/pattern.jpg');
  image{
    opacity: 0.5;
  }
  background-repeat: repeat-both;
}

#r1,#r2,#r3,#r4,#r5 {
  font-weight:600;
  font-size:23px;
  line-height:40px;

}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;font-weight:normal;line-height:1.1;color:#333}h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small{font-weight:normal;line-height:1}
h1,.h1{font-size:45px;line-height:30px }
h4,.h4{font-size:25px;line-height:20px;}
h5,.h5{font-size:20px;line-height:24px}
h6,.h6{font-size:18px;line-height:24px}

ul li {text-align: left;}
a{color:#3282e6;}
a:hover,a:focus{color:#165db5;text-decoration:underline}

.text-center{text-align:center}

.wrap {
  height: 100%;
  margin-top: 15%;
  position: relative;
}

hr {
  border: 2px dashed white;
}

form{
  width:500px;
  margin:0 auto;
  position:relative;
  color:white;
  padding-top:20px;
}

.search { 
  width: 300px;
  height: 30px;
  padding:6px 15px 6px 30px;
  margin:3px; 
  font-size:110%;
}

.rounded { 
  border-radius:15px; 
  -moz-border-radius:15px; 
  -webkit-border-radius:15px; 
  background: url('./images/search.png') no-repeat 8px 11px;
}

.logo {
  height:85px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0;
}

.logo img {
  height:100%;
}

input[type=text]{
  color:#202020;
  background-color:white;
}

.image{
  width: 300px;
  height: auto;
}

.resultDiv {
  background-color:white;
  height:70%;
  width:250px;
  margin:10px;
  display:inline-block;
  margin: auto;
  padding: 20px 20px;
  border: 2px dashed #B0C4DE;
  box-shadow: 0 0 0 6px #B0C4DE, 0 0 1px 7px 
  darken(#B0C4DE, 10);
  border-radius:15px; 
  -moz-border-radius:15px; 
  -webkit-border-radius:15px; 
}

.resultContainer {
  height:440px;
  width:100%;
  padding:30px;

}

#bottomBar {
  background-color:black;
  width:100%;
  padding-bottom:250px;
  padding-top:20px;
  height:300px;
  position:relative;
}

#slides {
  position: absolute;
  background-color:none;
  height:450px;
}

#slides, .slides-container {
  display: none;
}

#first,#second {
  width:100%;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
  width: 320px;
  height: 400px;
  background-color:white;
  display:inline-block;
  border: 2px dashed #B0C4DE;
  box-shadow: 0 0 0 6px #B0C4DE, 0 0 1px 7px; 
  darken(#B0C4DE, 10);
  border-radius:15px; 
  -moz-border-radius:15px; 
  -webkit-border-radius:15px; 
}
  /* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }

.flip-container, .front, .back {
  background-color:white;
  margin:10px;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}

.flipper {
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    position: relative;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: absolute;
    top: 0;
    left: 0;
}

.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.flip-container:hover .back, .flip-container.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container:hover .front, .flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
