    body {
      background-color: #ededed;
      color: #424242;
      margin: 0;
      font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size:14px;
      line-height:1.428571429;
    }

    h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;font-weight:normal;line-height:1.1;color:#333}h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small{font-weight:normal;line-height:1}
    h1,.h1{font-size:45px;line-height:48pxl }
    h4,.h4{font-size:24px;line-height:25px}
<<<<<<< HEAD

=======
    h5,.h5{font-size:20px;line-height:24px}
    h6,.h6{font-size:18px;line-height:24px}
    ul li {display: inline-block; text-align: left;}
>>>>>>> d51bf2fce2b53a8a71bc06b8f4c68e4ccc338ce6
    a{color:#3282e6;}
    a:hover,a:focus{color:#165db5;text-decoration:underline}

    .text-center{text-align:center}

    .wrap {
      height: 100%;
      margin-top: 15%;
      position: relative;
    }

    form{
      width:500px;
      margin:0 auto;
      position:relative;
      
    }
    .search { 
      width: 300px;
      height: 30px;
      padding:6px 15px 6px 30px;
      margin:3px; 
      font-size:150%;
    }
    .rounded { 
      border-radius:15px; 
      -moz-border-radius:15px; 
      -webkit-border-radius:15px; 
      background: url('./images/search.png') no-repeat 8px 11px;
    }
    input[type=text]{
      color:#202020;

    }